<div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary" style="background: url('../../../assets/Home/adrian-korte-5gn2soeAc40-unsplash.jpg'); align-items: center; background-repeat: no-repeat;">
    <div class="col-lg-6 px-0">
        <h1 class="display-4 fst-italic">Welcome to the "Musician Tools" web-app.</h1>
        <p class="lead my-3">Our first goal is not to generate a money. It's just about collaborations around the
            musics.</p>
    </div>
</div>

<br>

<div class="row mb-2">
    <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary-emphasis">Do you play in a group ?</strong>
                <h3 class="mb-0">Collaborate to save time</h3>
                <div class="mb-1 text-body-secondary">Picture credit : <a
                        href="https://unsplash.com/fr/@michaelhenry">Unsplah: Michael Henry</a></div>
                <p class="card-text mb-auto">Do you need a playlist? Dont panic!maybe another group has already done
                    it for you.</p>
                <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                    Let's rock !
                    <svg class="bi">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                </a>
            </div>
            <div class="col-auto d-none d-lg-block">
                <img width="auto" height="auto" src="../../../assets/Home/michael-henry-_zoBLWLscqg-unsplash.jpg"
                    style="width: 350px; height: 220px; max-height: 400px; max-width: 250px;" />
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-success-emphasis">Do you want to train alone?</strong>
                <h3 class="mb-0">Visit our free area</h3>
                <div class="mb-1 text-body-secondary">Picture credit : <a
                        href="https://unsplash.com/fr/@roccolcaruso">Unsplash: Rocco Caruso</a></div>
                <p class="mb-auto">Without authentication, you can play a million of song shared by others jamers.</p>
                <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                    Let's rock !
                    <svg class="bi">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                </a>
            </div>
            <div class="col-auto d-none d-lg-block">
                <img width="auto" height="auto" src="../../../assets/Home/rocco-caruso-h4jXGhm8wuA-unsplash.jpg"
                    style="width: 350px; height: 220px; max-height: 400px; max-width: 250px;" />
            </div>
        </div>
    </div>
</div>


<div class="row g-5">

    <!--Partie gauche-->

    <div class="col-md-8">
        <article class="blog-post">
            <h2>About the technologies used</h2>
            <br>
            <ul>
                <li>Front-end full desined by <a href="https://angular.io/" >Angular</a></li>
                <li>And performed by <a href="https://getbootstrap.com/">Bootstrap 5</a></li>
                <li>Backend is made by <a href="https://firebase.google.com/">Google firebase</a></li>
            </ul>

            <p>I have already created several sites and applications with this technology and I thought it would be
                ideal for us musicians.</p>
            <br>
            <hr>
            <br>

            <h2>All versions :</h2>
            <br>
            <p>This web application is in continuous evolution, you will find below the various areas of improvement of
                this one :</p>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Version</th>
                        <th>Notes</th>
                        <th>Publication date</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1.0</td>
                        <td>This is some additional paragraph placeholder content. It has been written to fill the
                            available space
                            and show how a longer snippet of text affects the surrounding content.</td>
                        <td>10/02/2023</td>
                        <td><a href="#details">Details</a></td>
                    </tr>
                    <tr>
                        <td>2.0</td>
                        <td>This is some additional paragraph placeholder content. It has been written to fill the
                            available space
                            and show how a longer snippet of text affects the surrounding content.</td>
                        <td>10/02/2023</td>
                        <td><a href="#details">Details</a></td>
                    </tr>
                    <tr>
                        <td>3.0</td>
                        <td>This is some additional paragraph placeholder content. It has been written to fill the
                            available space
                            and show how a longer snippet of text affects the surrounding content.</td>
                        <td>10/02/2023</td>
                        <td><a href="#details">Details</a></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td>4.0</td>
                        <td>This is some additional paragraph placeholder content. It has been written to fill the
                            available space
                            and show how a longer snippet of text affects the surrounding content.</td>
                        <td>10/02/2023</td>
                        <td><a href="#details">Details</a></td>
                    </tr>
                </tfoot>
            </table>

            <nav aria-label="Version pagination">
                <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>

            <br>
            <hr>
            <br>

            <h2>Come, collaborate with us :</h2>

            <p>For now, I'm working alone on various subjects. I would hope that one day, several people will support me
                in the success of this non-profit project.
                If you share the same ambitions as me and want to contribute your part, you could contact me directly
                with this email address: <a href="mailto:jeffycessna@gmail.com">Jefferson</a>
            </p>
            <ol>
                <li><del>Project Manager</del> (Position held) </li>
                <li>Backend developer 0/2 (Free)</li>
                <li>Frontend developer 0/2 (Free)</li>
                <li>Graphist developer 0/2 (Free)</li>
                <li><strong>Content Manager 0/2 </strong> (Free)</li>
                <li>Communication 0/2 (Free)</li>
            </ol>

            <h2>What do we gain? </h2>

            <br>

            <h4>Professional experience :</h4>
            <p>Our web application is visible to everyone in the world, it will count among your professional
                experiences without demonstrating it but simply by having it visited by your next recruiter.</p>

            <br>

            <h4>Social experience :</h4>
            <p>If you are just out of school or sociability is not your area? Maybe contributing to this project will
                help you become more extroverted.</p>

            <br>

            <h4>Fun :</h4>
            <p>We have goals to aim for, we have improvements to make. But above all that, our primary objective is to
                rejoice in what we achieve. So, "FUN" comes first.</p>
        </article>



    </div>

    <!--Partie droite-->

    <div class="col-md-4">
        <div class="position-sticky" style="top: 2rem;">
            <div class="p-4 mb-3 bg-body-tertiary rounded">
                <h4>Current trends :</h4>
                <p class="mb-0">The current trending songs is : <a
                        href="https://www.youtube.com/embed/6WrVXWgn094?si=zs8mVOdC17Ko6dU0">Soolking ft. Gazo -
                        Casanova</a> song.
                    <br><br>
                    <!--begin section iframe from youtube-->
                    <!--The witdh and the height properties must to be in auto-->
                    <iframe width="auto" height="auto"
                        src="https://www.youtube.com/embed/6WrVXWgn094?si=zs8mVOdC17Ko6dU0" title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                    <!--begin section iframe from youtube-->
                    <br><br>
                    <!--We must to change the key and the tempo of the song inside the STRONG tags-->
                    About arrangement, its in a <strong>G</strong> key <strong>120</strong> bpm.

                </p>
            </div>
            
            <br>
            
            <div>
                <h4 class="p-4">Recent posts :</h4>
                <ul class="list-unstyled">
                    <li>
                        <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top"
                            href="#">
                            <svg class="bd-placeholder-img" width="100%" height="96" xmlns="http://www.w3.org/2000/svg"
                                aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                                <rect width="100%" height="100%" fill="#777"></rect>
                            </svg>
                            <div class="col-lg-8">
                                <h6 class="mb-0">Example blog post title</h6>
                                <small class="text-body-secondary">January 15, 2023</small>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top"
                            href="#">
                            <svg class="bd-placeholder-img" width="100%" height="96" xmlns="http://www.w3.org/2000/svg"
                                aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                                <rect width="100%" height="100%" fill="#777"></rect>
                            </svg>
                            <div class="col-lg-8">
                                <h6 class="mb-0">This is another blog post title</h6>
                                <small class="text-body-secondary">January 14, 2023</small>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top"
                            href="#">
                            <svg class="bd-placeholder-img" width="100%" height="96" xmlns="http://www.w3.org/2000/svg"
                                aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                                <rect width="100%" height="100%" fill="#777"></rect>
                            </svg>
                            <div class="col-lg-8">
                                <h6 class="mb-0">Longer blog post title: This one has multiple lines!</h6>
                                <small class="text-body-secondary">January 13, 2023</small>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="p-4">
                <h4 >Our archives this year :</h4>
                <ol class="list-unstyled mb-0">
                    <li><a href="#">January 2023</a></li>
                    <li><a href="#">February 2023</a></li>
                    <li><a href="#">March 2023</a></li>
                    <li><a href="#">April 2023</a></li>
                    <li><a href="#">May 2023</a></li>
                    <li><a href="#">June 2023</a></li>
                    <li><a href="#">July 2023</a></li>
                    <li><a href="#">August 2023</a></li>
                    <li><a href="#">September 2023</a></li>
                    <li><a href="#">October 2023</a></li>
                    <li><a href="#">November 2023</a></li>
                    <li><a href="#">December 2023</a></li>
                </ol>
            </div>

            <div class="p-4">
                <h4>Our archives per year :</h4>
                <ol class="list-unstyled">
                    <li><a href="#">Musics in 2022</a></li>
                    <li><a href="#">Musics in 2021</a></li>
                    <li><a href="#">Musics in 2020</a></li>
                </ol>
            </div>
        </div>
    </div>
</div>