<div class="row">
    <div class="col-sm-6 bg-white text-dark">
        <div class="col">
            <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                    xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Titre de l'éléments"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                        dy=".3em">Titre
                        de l'éléments</text>
                </svg>

                <div class="card-body">
                    <p class="card-text">Contenus ou description</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Visiter</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Commander</button>
                        </div>
                        <small class="text-muted">Date de MA</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                    xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Titre de l'éléments"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                        dy=".3em">Titre
                        de l'éléments</text>
                </svg>

                <div class="card-body">
                    <p class="card-text">Contenus ou description</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Visiter</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Commander</button>
                        </div>
                        <small class="text-muted">Date de MA</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                    xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Titre de l'éléments"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                        dy=".3em">Titre
                        de l'éléments</text>
                </svg>

                <div class="card-body">
                    <p class="card-text">Contenus ou description</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Visiter</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Commander</button>
                        </div>
                        <small class="text-muted">Date de MA</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                    xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Titre de l'éléments"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                        dy=".3em">Titre
                        de l'éléments</text>
                </svg>

                <div class="card-body">
                    <p class="card-text">Contenus ou description</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Visiter</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Commander</button>
                        </div>
                        <small class="text-muted">Date de MA</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                    xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Titre de l'éléments"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                        dy=".3em">Titre
                        de l'éléments</text>
                </svg>

                <div class="card-body">
                    <p class="card-text">Contenus ou description</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Visiter</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Commander</button>
                        </div>
                        <small class="text-muted">Date de MA</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                    xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Titre de l'éléments"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                        dy=".3em">Titre
                        de l'éléments</text>
                </svg>

                <div class="card-body">
                    <p class="card-text">Contenus ou description</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Visiter</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Commander</button>
                        </div>
                        <small class="text-muted">Date de MA</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                    xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Titre de l'éléments"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                        dy=".3em">Titre
                        de l'éléments</text>
                </svg>

                <div class="card-body">
                    <p class="card-text">Contenus ou description</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Visiter</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Commander</button>
                        </div>
                        <small class="text-muted">Date de MA</small>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--deuxième partie-->
    <div class="col-sm-6 bg-white text-dark">
        <div class="col">
            <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                    xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Titre de l'éléments"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                        dy=".3em">Titre
                        de l'éléments</text>
                </svg>

                <div class="card-body">
                    <p class="card-text">Contenus ou description</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Visiter</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Commander</button>
                        </div>
                        <small class="text-muted">Date de MA</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                    xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Titre de l'éléments"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                        dy=".3em">Titre
                        de l'éléments</text>
                </svg>

                <div class="card-body">
                    <p class="card-text">Contenus ou description</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Visiter</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Commander</button>
                        </div>
                        <small class="text-muted">Date de MA</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                    xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Titre de l'éléments"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                        dy=".3em">Titre
                        de l'éléments</text>
                </svg>

                <div class="card-body">
                    <p class="card-text">Contenus ou description</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Visiter</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Commander</button>
                        </div>
                        <small class="text-muted">Date de MA</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                    xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Titre de l'éléments"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                        dy=".3em">Titre
                        de l'éléments</text>
                </svg>

                <div class="card-body">
                    <p class="card-text">Contenus ou description</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Visiter</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Commander</button>
                        </div>
                        <small class="text-muted">Date de MA</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                    xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Titre de l'éléments"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                        dy=".3em">Titre
                        de l'éléments</text>
                </svg>

                <div class="card-body">
                    <p class="card-text">Contenus ou description</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Visiter</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Commander</button>
                        </div>
                        <small class="text-muted">Date de MA</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                    xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Titre de l'éléments"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                        dy=".3em">Titre
                        de l'éléments</text>
                </svg>

                <div class="card-body">
                    <p class="card-text">Contenus ou description</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Visiter</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Commander</button>
                        </div>
                        <small class="text-muted">Date de MA</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                    xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Titre de l'éléments"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                        dy=".3em">Titre
                        de l'éléments</text>
                </svg>

                <div class="card-body">
                    <p class="card-text">Contenus ou description</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Visiter</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Commander</button>
                        </div>
                        <small class="text-muted">Date de MA</small>
                    </div>
                </div>
            </div>
        </div>
    </div>   
    
    <!--troixième parite-->
    <div class="col-sm-6 bg-white text-dark">
        <div class="col">
            <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                    xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Titre de l'éléments"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                        dy=".3em">Titre
                        de l'éléments</text>
                </svg>

                <div class="card-body">
                    <p class="card-text">Contenus ou description</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Visiter</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Commander</button>
                        </div>
                        <small class="text-muted">Date de MA</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                    xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Titre de l'éléments"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                        dy=".3em">Titre
                        de l'éléments</text>
                </svg>

                <div class="card-body">
                    <p class="card-text">Contenus ou description</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Visiter</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Commander</button>
                        </div>
                        <small class="text-muted">Date de MA</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                    xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Titre de l'éléments"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                        dy=".3em">Titre
                        de l'éléments</text>
                </svg>

                <div class="card-body">
                    <p class="card-text">Contenus ou description</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Visiter</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Commander</button>
                        </div>
                        <small class="text-muted">Date de MA</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                    xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Titre de l'éléments"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                        dy=".3em">Titre
                        de l'éléments</text>
                </svg>

                <div class="card-body">
                    <p class="card-text">Contenus ou description</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Visiter</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Commander</button>
                        </div>
                        <small class="text-muted">Date de MA</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                    xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Titre de l'éléments"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                        dy=".3em">Titre
                        de l'éléments</text>
                </svg>

                <div class="card-body">
                    <p class="card-text">Contenus ou description</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Visiter</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Commander</button>
                        </div>
                        <small class="text-muted">Date de MA</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                    xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Titre de l'éléments"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                        dy=".3em">Titre
                        de l'éléments</text>
                </svg>

                <div class="card-body">
                    <p class="card-text">Contenus ou description</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Visiter</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Commander</button>
                        </div>
                        <small class="text-muted">Date de MA</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                    xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Titre de l'éléments"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                        dy=".3em">Titre
                        de l'éléments</text>
                </svg>

                <div class="card-body">
                    <p class="card-text">Contenus ou description</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Visiter</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Commander</button>
                        </div>
                        <small class="text-muted">Date de MA</small>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--quatrieme partie-->
    <div class="col-sm-6 bg-white text-dark">
        <div class="col">
            <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                    xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Titre de l'éléments"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                        dy=".3em">Titre
                        de l'éléments</text>
                </svg>

                <div class="card-body">
                    <p class="card-text">Contenus ou description</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Visiter</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Commander</button>
                        </div>
                        <small class="text-muted">Date de MA</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                    xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Titre de l'éléments"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                        dy=".3em">Titre
                        de l'éléments</text>
                </svg>

                <div class="card-body">
                    <p class="card-text">Contenus ou description</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Visiter</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Commander</button>
                        </div>
                        <small class="text-muted">Date de MA</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                    xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Titre de l'éléments"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                        dy=".3em">Titre
                        de l'éléments</text>
                </svg>

                <div class="card-body">
                    <p class="card-text">Contenus ou description</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Visiter</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Commander</button>
                        </div>
                        <small class="text-muted">Date de MA</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                    xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Titre de l'éléments"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                        dy=".3em">Titre
                        de l'éléments</text>
                </svg>

                <div class="card-body">
                    <p class="card-text">Contenus ou description</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Visiter</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Commander</button>
                        </div>
                        <small class="text-muted">Date de MA</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                    xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Titre de l'éléments"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                        dy=".3em">Titre
                        de l'éléments</text>
                </svg>

                <div class="card-body">
                    <p class="card-text">Contenus ou description</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Visiter</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Commander</button>
                        </div>
                        <small class="text-muted">Date de MA</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                    xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Titre de l'éléments"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                        dy=".3em">Titre
                        de l'éléments</text>
                </svg>

                <div class="card-body">
                    <p class="card-text">Contenus ou description</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Visiter</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Commander</button>
                        </div>
                        <small class="text-muted">Date de MA</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                    xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Titre de l'éléments"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                        dy=".3em">Titre
                        de l'éléments</text>
                </svg>

                <div class="card-body">
                    <p class="card-text">Contenus ou description</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Visiter</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Commander</button>
                        </div>
                        <small class="text-muted">Date de MA</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>